In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/baek/Downloads/data.csv")

In [4]:
df

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2355134,2014,6,27,0,23,Subscriber,Male,2014.6.30 23:57,2014.7.1 0:07,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15,303,Broadway & Cornelia Ave,41.945512,-87.645980,15
1,2355133,2014,6,27,0,23,Subscriber,Male,2014.6.30 23:56,2014.7.1 0:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15,22,May St & Taylor St,41.869482,-87.655486,15
2,2355130,2014,6,27,0,23,Subscriber,Male,2014.6.30 23:33,2014.6.30 23:35,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19,225,Halsted St & Dickens Ave,41.919936,-87.648830,15
3,2355129,2014,6,27,0,23,Subscriber,Female,2014.6.30 23:26,2014.7.1 0:24,...,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19,194,State St & Wacker Dr,41.887155,-87.627750,11
4,2355128,2014,6,27,0,23,Subscriber,Female,2014.6.30 23:16,2014.6.30 23:26,...,320,Loomis St & Lexington St,41.872187,-87.661501,15,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,2354629,2014,6,27,0,19,Subscriber,Female,2014.6.30 19:11,2014.6.30 19:20,...,154,Southport Ave & Belmont Ave,41.939490,-87.663780,15,299,Halsted St & Roscoe St,41.943662,-87.648917,15
174,2354627,2014,6,27,0,19,Subscriber,Male,2014.6.30 19:07,2014.6.30 19:17,...,47,State St & Kinzie St,41.889180,-87.627700,19,36,Franklin St & Jackson Blvd,41.877708,-87.635321,31
175,2354626,2014,6,27,0,19,Subscriber,Male,2014.6.30 19:06,2014.6.30 19:20,...,47,State St & Kinzie St,41.889180,-87.627700,19,30,Ashland Ave & Augusta Blvd,41.899643,-87.667700,15
176,2354625,2014,6,27,0,19,Subscriber,Male,2014.6.30 19:07,2014.6.30 19:59,...,43,Michigan Ave & Washington St,41.883893,-87.624649,43,277,Ashland Ave & Grand Ave,41.891072,-87.666611,15
177,2354624,2014,6,27,0,19,Subscriber,Female,2014.6.30 19:10,2014.6.30 19:16,...,72,State St & 16th St,41.860121,-87.627729,15,59,Wabash Ave & Roosevelt Rd,41.867173,-87.625955,19

In [5]:
df.dtypes

trip_id                int64
year                   int64
month                  int64
week                   int64
day                    int64
hour                   int64
usertype              object
gender                object
starttime             object
stoptime              object
tripduration         float64
temperature            int64
events                object
from_station_id        int64
from_station_name     object
latitude_start       float64
longitude_start      float64
dpcapacity_start       int64
to_station_id          int64
to_station_name       object
latitude_end         float64
longitude_end        float64
dpcapacity_end         int64
dtype: object

In [12]:
df = df.astype({"starttime": "datetime64"})

In [13]:
df.dtypes

trip_id                       int64
year                          int64
month                         int64
week                          int64
day                           int64
hour                          int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime                     object
tripduration                float64
temperature                   int64
events                       object
from_station_id               int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start              int64
to_station_id                 int64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end                int64
dtype: object

In [15]:
df["month"] = df["month"].astype("bool")